<div class="row-fluid explain">
  <div class="explain-row">
    <div class="explain-title">
      <h2>Anong Mga Mapapanalunan?</h2>
    </div>
    <div>
      <div>
        <%= image_tag "shuffle.jpg", id: "shuffle" %> 
      </div>
      <div>
        Brand New iPod Shuffle bilang first prize kapag nakakuha ng 125 points o pataas
      </div>
    </div>
    <div class="row-fluid prizes explain-row">
      <div class="span2 offset3" style="color: #f1c40f">
        <i class="icon-question-sign"></i>
        <div class="desc">
          1st Prize
        </div>
      </div>
      <div class="span2" style="color: #bdc3c7">
        <i class="icon-question-sign"></i>
        <div class="desc">
          2nd Prize
        </div>
      </div>
      <div class="span2" style="color: #c0392b">
        <i class="icon-question-sign"></i>
        <div class="desc">
          3rd Prize
        </div>
      </div>
    </div>
    <div class="explain-row">
      <div>
        Ang 1st, 2nd at 3rd prizes ay ire-reveal namin sa susunod na pulong 
      </div>
    </div>
    <div>
      <div class="row-fluid prizes explain-row">
        <div class="span2 offset2">
          <i class="icon-user"></i>
        </div>
        <div class="span2">
          <i class="icon-user"></i>
        </div>
        <div class="span2">
          <i class="icon-user"></i>
        </div>
        <div class="span2">
          <i class="icon-user"></i>
        </div>
      </div>
      <div class="row-fluid prizes explain-row">
        <div class="span2 offset3">
          <i class="icon-user"></i>
        </div>
        <div class="span2">
          <i class="icon-user"></i>
        </div>
        <div class="span2">
          <i class="icon-user"></i>
        </div>
      </div>
      <div class="explain-row">
        <div>
          Ang 1st, 2nd at 3rd prizes ay ire-reveal namin sa susunod na pulong 
        </div>
      </div>
    </div>
  </div>
</div>
