<div>
  <div class="explain-title">
    <h2>Anong Mga Mapapanalunan?</h2>
  </div>
  <div class="explain-text">
    <%= image_tag "shuffle.jpg", id: "shuffle" %> 
    <br>
    Brand New iPod Shuffle bilang first prize kapag nakakuha ng 125 points o pataas
    <div class="row-fluid" style="margin-top: 30px">
      <div class="span6 offset3">
      <table style="width:100%">
        <tr style="font-size: 100%">
          <th style="text-align: center">
            <i class="icon-star" style="color: #f1c40f"><br>1st</i>
          </th>
          <th style="text-align: center">
            <i class="icon-star" style="color: #bdc3c7"><br>2nd</i>
          </th>
          <th style="text-align: center">
            <i class="icon-star" style="color: #c0392b"><br>3rd</i>
          </th>
        </tr>
        <tr>
          <th colspan="3" style="text-align: center">
            <h2>Rules</h2>
          </th>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>
