<div>
  <div class="explain-title">
    <h2>Anong Mga Mapapanalunan?</h2>
  </div>
  <div class="explain-text">
    <%= image_tag "shuffle.jpg", id: "shuffle" %> 
    <br>
    Brand New iPod Shuffle bilang first prize kapag nakakuha ng 125 points o pataas
    <p>
      <table style="width:100%">
        <tr style="font-size: 300%">
          <td colspan=2>
            <i class="icon-star" style="color: #f1c40f"><br>1st Prize</i>
          </td>
        </tr>
        <tr style="font-size: 200%">
          <td>
            <i class="icon-star" style="color: #bdc3c7"><br>2nd</i>
          </td>
          <td>
            <i class="icon-star" style="color: #c0392b"><br>3rd</i>
          </td>
        </tr>
      </table>
    </p>
  </div>
  <div class="explain-title" style="padding-top: 30px">
    <h2>Rules</h2>
    <table>
      <tr style="font-size: 200%">
        <td>
          <p style="text-align: center">
            <i class="icon-star"><br>Signup Using Facebook</i>
          </p>
        </td>
      </tr>
    </table>
  </div>

</div>
