<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/head_login' %>
  <body>
    <%= render 'shared/navbar_login' %>
    <%= render 'shared/content_login'%>
    <%= javascript_include_tag "application" %>
  </body>
</html>
